<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="tertiary">
    <ion-title>
      Chat List N.N
    </ion-title>
      <ion-icon (click)="logOut();" color="" style="margin-right: 1rem;" size="large" slot="end" name="log-in-sharp"></ion-icon>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true" mode="ios">
  <ion-list>
    <ion-item *ngFor="let item of chatRooms" detail (click)="openchat(item)">
      <ion-avatar slot="start">
        <img [src]="item.img" />
      </ion-avatar>
      <ion-label>
        <h3><b> {{item.name}}</b></h3>
        <p>{{item.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
